<!--se exporta el archivo layout.html, donde incrustraras este archivo-->
{% extends 'layout.html' %}

<!--todo lo que viene se incrusta en layout.html-->
{% block body %}


<form action="/add_paciente_db" method="POST">
    <div class="form-group mt-1">
        <input type="number" name='idPersona' placeholder="idPersona" class="form-control">
    </div>
    <div class="form-group mt-1">
        <input type="number" name='idHospital' placeholder="idHospital" class="form-control">
    </div>
    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary btn-block">
            Save
        </button>
    </div>
                    
    
</form>

{% endblock %}